html {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  display: inline-grid;
}
a,
span {
  font-family: 'Roboto', sans-serif;
}
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}
// Общие сбросы свойств
/* Убираем точки и отступы в списках */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Убираем подчеркивание в ссылках */
a {
  text-decoration: none;
}

/* Убираем эффект 2рх  и оптимизируем фото */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
p {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
