.header {
  background-image: linear-gradient(
      to left,
      rgba(-139, 0, 4, 0.76),
      rgba(24, 24, 26, 0.96)
    ),
    url('../images/hero.jpg');
  height: 200px;
  // background: radial-gradient(#232527, #24292e);
}
// #24292e
.developed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #c2c5c7;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(73, 73, 73);
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.button-header {
  padding: 11px;
  font-size: 18px;
  color: #c2c5c7;

  &:hover {
    transition: cubic-bezier(0.3, 1, 0.32, 1);
    padding: 10px;
    border: #c2c5c7 1px solid;
    border-radius: 4px;
  }
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.git-logo {
  background-image: url('../images/git.logo.png');
  height: 20px;
  width: 20px;
}
