// .gallery {
//   padding: 0;
//   list-style: none;
//   max-width: calc(100% - 64px);
//   margin: 0 auto;
//   display: grid;
//   justify-content: center;
//   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
//   grid-gap: 24px;
// }

.gallery {
  padding-bottom: 50px;
  padding-left: 0px;
  list-style: none;
  max-width: calc(100% - 0px);
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  grid-gap: 10px;
}
li {
  position: relative;
  list-style: none;
  border: 1px solid black;
  overflow: hidden;
}

/* .photo-card {
  width: 412px;
} */

.photo-card > img {
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: rgba(141, 141, 141, 0.267);
  cursor: pointer;
}
li:hover .box-overlay {
  transform: translateX(0%);
}

// .box-overley-text {
//   cursor: pointer;
//   padding: 10px;
//   border: 1px white solid;
//   color: white;
//   font-size: 32px;
//   transform: translate(65%, 270%);
// }
