.search-form {
  margin-bottom: 5px;
  margin-top: 5px;
}
.search-form input {
  color: #c2c5c7;
  max-width: 320px;
  padding: 7px;
  background: none;
  border: none;
  border: 1px white solid;
  border-radius: 3px;
  // background-color: #c2c5c7;

  &:active,
  &:focus {
    outline: 0;
    outline-offset: 0;
    border: 1px rgb(127, 81, 255) solid;
  }
}
